@charset "utf-8";

::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.site-menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul {
    display: block;
    text-align: center;
}

.site-menu li {
    margin-top: 40px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.header-inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
}

.toggle-menu-button{
    display: block;
    width: 44px;
    height: 34px;
    background-image: url(../images/index/site-menu.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
}


.header-logo {
    display: block;
    width: 170px;
}

.header-site-menu {
    position: absolute;
    top: 100%;left: 0;
    right: 0;
    color: #ffffff;
    background-color: #736e62;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
}

.header-site-menu.is-show {
    display: block;
}

.main-title {
    height: calc(100vh - 110px);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;

}

.main-title-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}

.first-view {
    height: calc(100vh - 110px);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* display: flex; */
    align-items: center;
    text-align: center;

}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}


.first-view-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.nav {
    width: 930px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}

.shop{
    width: 930px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}

.shop img{
    width: 600px;
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}